---
services:
  web:
    build: .
    ports:
      - "4040:4040"
    volumes:
      - .:/usr/src/app
    command: sh -c "bun run watch:d2 & bun run watch:css & bundle exec jekyll serve --config _config.yml,_config_development.yml"
