<footer class=" bg-primaryBG">
  <div class="contact pt-[140px] pb-[57px] text-center">
    <h1 class="text-center mb-8 text-[68px] text-white">Let's talk</h1>
    <p class="text-center mb-12 text-white">We are here to simlify your SBOM journey.</p>
    <a class="btn-secondary mx-auto relative z-50" href="https://calendly.com/vpetersson/sbomify-consultation">Get in touch</a>
  </div>
  <hr class="divider" />
  <div class="flex flex-col lg:flex-row justify-between py-20 items-center gap-14 px-5 lg:px-[80px] lg:h-[294px]">
    <div class="flex flex-col gap-1 text-tertiaryText flex-1 items-center">
      <div>Copyright © 2024 sbomify.</div>
      <div>All rights reserved </div>
      <div><a href="https://studio.viktopia.io">A Viktopia Studio project</a></div>
    </div>
    <div class="flex flex-1 justify-center">
      <a href="/">
        <img class="w-[132px]" src="/assets/images/site/logo.svg" alt="logo" />
      </a>
    </div>
    <div class="flex flex-1 gap-[13px] justify-center">
      <a href="{{ site.data.main.social.x }}">
        <img src="/assets/images/site/x-white.svg" alt="x logo" />
      </a>
      <a href="{{ site.data.main.social.github }}">
        <img src="/assets/images/site/github-white.svg" alt="github logo" />
      </a>
      <a href="{{ site.data.main.social.linkedIn }}">
        <img src="/assets/images/site/linkedin-white.svg" alt="linkedIn logo" />
      </a>
    </div>
  </div>
</footer>
