<header class="p-8 flex justify-between bg-primaryBG">
  <div class="flex gap-10 justify-between items-center">
    <a href="/">
      <img src="/assets/images/site/logo.svg" alt="sbomify logo" />
    </a>
  </div>
  <div class="flex gap-2 justify-between items-center">
    {% include nav.html %}
    <div class="hidden lg:block ml-[52px]">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSe1-SCbmyPnhHxP1RHIYi4iKP2CLy6SXcqFOP1i7B8VHZJYkw/viewform" class="text-white btn-secondary btn-md text-base">Sign Up</a>
    </div>
    {% include nav-mobile.html %}
  </div>
</header>
