<header class="p-8 flex justify-between bg-primaryBG">
  <div class="flex gap-10 justify-between items-center">
    <a href="/">
      <img src="/assets/images/site/logo.svg" alt="sbomify logo" />
    </a>
  </div>
  <div class="flex gap-2 justify-between items-center">
    <div class="flex items-center gap-[52px]">
      <a href="https://github.com/sbomify/sbomify" target="_blank" rel="noopener noreferrer" class="hidden lg:block">
        <img src="https://img.shields.io/badge/GitHub-ffffff?style=for-the-badge&logo=github&logoColor=181717" alt="GitHub" class="hover:opacity-90 transition-opacity h-8" />
      </a>
      {% include nav.html %}
    </div>
    <div class="hidden lg:block ml-[52px]">
      <a href="/pricing" class="text-white btn-secondary btn-md text-base">Sign Up</a>
    </div>
    {% include nav-mobile.html %}
  </div>
</header>
