{% assign post = include.post %}
{% assign dark = include.dark %}
<a
  href="{{ post.url | relative_url }}"
  class="flex flex-col justify-between rounded-lg"
>
  <h4 class="text-[26px] leading-[34px] tracking-[0.4px] mb-[14px] {% if dark %}text-white{% endif %}">
    {{ post.title | escape | truncate: 180 }}
  </h4>
  <p class="mb-10 text-base {% if dark %}text-[#C4C4C4]{% else %}text-secondaryText{% endif %}">{{ post.excerpt | strip_html | truncatewords: 28, "..." }}</p>
  <div class="mt-3 text-xs">
    {% assign date_format = site.minima.date_format | default: "%b %-d. %Y" %}
    {% if post.author and post.author.display_name %}
    <span>
      By <span class="capitalize">{{ post.author.display_name }}</span>
    </span>
    <span>//</span>
    {% endif %}
    <span class="{% if dark %}text-white{% else %}text-gray-400{% endif %}">
      {{ post.date | date: date_format }}
    </span>
  </div>
</a>