<div class="flex gap-[13px] {%if include.vertical%} flex-col {%endif%}">
  <a href="{{ site.data.main.social.github }}" target="_new">
    <img src="{{ '/assets/images/site/github-white.svg' | bust_cache }}" alt="github logo" />
  </a>
  <a href="{{ site.data.main.social.linkedIn }}" target="_new">
    <img src="{{ '/assets/images/site/linkedin-white.svg' | bust_cache }}" alt="linkedIn logo" />
  </a>
  <a href="{{ site.data.main.social.slack }}" target="_new">
    <img src="{{ '/assets/images/site/slack-white.svg' | bust_cache }}" alt="slack logo" />
  </a>
</div>