// _sass/_mixins.scss
@import 'variables';

/* px to rem */
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return #{strip-unit($pxValue) / strip-unit($base-font-size)}rem;
}

/* page header */

@mixin page-header($bg-image) {
  background-image: url(#{$bg-image});
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  object-fit: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 2 18 / 10%);
  }
}
