$base-font-size: 16px;

// Colors
$white: #FFF;

// New
$text-primary: #141035;
$text-secondary: #5E5E5E;
$bg-primary: #141035;
$text-heading: $text-primary;

// Define breakpoints
$breakpoint-xs: 480px;  // Extra small devices (phones)
$breakpoint-sm: 768px;  // Small devices (tablets)
$breakpoint-md: 992px;  // Medium devices (desktops)
$breakpoint-lg: 1200px; // Large devices (large desktops)
$breakpoint-xl: 1400px; // Extra large devices (larger desktops)
$breakpoint-xxl: 1920px;
