<div class="flex gap-[13px] {{ if .vertical }} flex-col {{ end }}">
  <a href="{{ site.Data.main.social.github }}" target="_new">
    <img src="/assets/images/site/github-white.svg" alt="github logo" />
  </a>
  <a href="{{ site.Data.main.social.linkedIn }}" target="_new">
    <img src="/assets/images/site/linkedin-white.svg" alt="linkedIn logo" />
  </a>
  <a href="{{ site.Data.main.social.slack }}" target="_new">
    <img src="/assets/images/site/slack-white.svg" alt="slack logo" />
  </a>
</div>
