---
layout: default
---
<div class="bg-white blog-post">
  <div class="md:max-w-[846px] mx-6 md:mx-auto py-10 md:py-20">
    <h1 class="mb-6">{{page.title}}</h1>
    <div class="flex mb-12 gap-4 text-[#686868] text-sm">
      {% if page.author and page.author.display_name %}
      <span>
        By <span class="capitalize">{{ page.author.display_name }}</span>
      </span>
      <span>></span>
      {% endif %}
      <span>
        {{ page.date | date: "%d %^b, %Y" }}
      </span>
    </div>
    <article class="leading-[26px]">
      {{content}}
    </article>
  </div>
</div>
<div class="bg-primaryBG text-white px-[105px] py-24">
  <div class="uppercase text-sm mb-4">
    &gt; Blog
  </div>
  {% include posts.html limit=3 dark=true hideViewAll=true title="Recent Posts" %}
</div>

