---
name: Deploy Production

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 5 * * *'
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
      id-token: write
      pages: write
    name: Deploy to GitHub Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build container
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: web
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-

      - name: Install dependencies
        run: docker run --rm -v $(pwd):/usr/src/app web bun install

      - name: Build D2 diagrams
        run: docker run --rm -v $(pwd):/usr/src/app web bun run build:d2

      - name: Build CSS
        run: docker run --rm -v $(pwd):/usr/src/app web bun run build:css

      - name: Build Jekyll Site
        env:
          JEKYLL_ENV: production
        run: docker run --rm -v $(pwd):/usr/src/app -e JEKYLL_ENV=production web sh -c "git config --global --add safe.directory /usr/src/app && bundle exec jekyll build"

      - name: Fix permissions
        run: docker run --rm -v $(pwd):/usr/src/app web chown -R $(id -u):$(id -g) .

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '_site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  sbom-javascript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Upload SBOM
        uses: sbomify/github-action@master
        env:
          TOKEN: ${{ secrets.SBOMIFY_TOKEN }}
          COMPONENT_ID: 'XalR981KPFba'
          COMPONENT_NAME: 'Marketing Site (JavaScript)'
          COMPONENT_VERSION: ${{ github.ref_type == 'tag' && github.ref_name || format('{0}-{1}', github.ref_name, github.sha) }}
          LOCK_FILE: 'package-lock.json'
          AUGMENT: true
          ENRICH: true
          OUTPUT_FILE: sbom.cdx.json

  sbom-ruby:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Upload SBOM
        uses: sbomify/github-action@master
        env:
          TOKEN: ${{ secrets.SBOMIFY_TOKEN }}
          COMPONENT_ID: 'jtYGL1IMu1gQ'
          COMPONENT_NAME: 'Marketing Site (Ruby)'
          COMPONENT_VERSION: ${{ github.ref_type == 'tag' && github.ref_name || format('{0}-{1}', github.ref_name, github.sha) }}
          LOCK_FILE: 'Gemfile.lock'
          AUGMENT: true
          ENRICH: true
          OUTPUT_FILE: sbom.cdx.json
